<h2>vehicles!</h2>

<input type="text" placeholder="enter text to search" [(ngModel)]="keywords" (keyup)="search()">   

<select [(ngModel)]="column">
    <option value="Vehicle">Vehicle Name</option>
    <option value="color">Color</option>
    <option value="cost">Cost</option>
    <option value="fuel">Fuel</option>
</select>

<select [(ngModel)]="order">
    <option value="asc">Ascending Order</option>
    <option value="desc">Descending Order</option>
</select>

<button (click)="sort()">Sort</button>

<select [(ngModel)]="limit">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
</select>

<select [(ngModel)]="page">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<button (click)="pagination()">Pagination</button>

<button class="btn btn-primary" routerLink="/dashboard/create-vehicle">Create-Vehicle</button>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
        <th>S.no</th>
        <th>Vehicle</th>
        <th>Color</th>
        <th>Cost</th>
        <th>Fuel</th>
        <th>Id</th>
        <th>Image</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Type</th>
        <th>Tyres</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles;let i=index">
            <td>{{i+1}}</td>
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.id}}</td>
            <td>{{vehicle.image}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.tyres}}</td>
            <td><button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button></td>

            
        </tr>

    </tbody>
</table> 

