<h1>Employee Data</h1>

<label>Name:</label>
<input type="text" [(ngModel)]="name"><br>
<label>Experience:</label>
<input type="number" [(ngModel)]="experience"><br>
<label>Package:</label>
<input type="number" [(ngModel)]="package"><br>
<label>Role:</label>
<input type="text" [(ngModel)]="role"><br>
<button (click)="add()">Add Employee</button>


<button class="btn btn-sucess" (click)="bonus()">Add 30k Bonus</button>
<button class="btn btn-warning" (click)="costToCompany()">Cost to Company</button>

<button (click)="packageHightoLow()" class="btn btn-danger">Package:high to Low</button>

<select [(ngModel)]="role" (change)="roleFilter()">
    <option value="UIDeveloper">UI Developer</option>
    <option value="Software Developer">Software Developer</option>
    <option value="Data engineer">Data Engineer</option>
    <option value="Testing Engineer">Testing Engineer</option>
</select>

<input type="text" placeholder="Enter text to search" [(ngModel)]="term" (keyup)="search()">

<table class="table table-dark table-striped-columns">

    <thead>
        <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Experience</th>
        <th>Package</th>
        <th>Role</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
        </tr>

    </tbody>
</table>
