.parent{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyiVt0SJVvAl09DGPbCjWbeZ847NbHGC2qXyduP70rrhCAAsYcxAst-I6NWqVQ68Fvzp0&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.calc{
    width: 25%;
    height: 50%;
    color: rgb(25, 25, 26);
    padding-top: 50px;
    margin-right: 400px;
    margin-bottom: 100px;
    text-align: center;
    font-size: x-large;
    border-radius: 20px;
    background-color: rgb(210, 93, 119);
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    width: 250px;
    height: 30px;
    color: purple;
    font-size: medium;
    border-radius: 10px;
    background-color: rgb(234, 161, 161);
    border: none;
    margin: 5px;
}
input{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
}