<div class="parent">
    <div class="left"><br>
        <h1>My Website</h1><br><hr><br>
        <h4 routerLink="/dashboard/login">Login</h4><br>
        <h4 routerLink="/dashboard/home">Home</h4><br>
        <h4 routerLink="/dashboard/welcome">Welcome</h4><br>
        <h4 routerLink="/dashboard/databinding">Data Binding</h4><br>
        <h4 routerLink="/dashboard/calculator">Calculator</h4><br>
        <h4 routerLink="/dashboard/rectangle">Rectangle</h4><br>
        <h4 routerLink="/dashboard/circle">Circle</h4><br>
        <h4 routerLink="/dashboard/bmi">BMI</h4><br>
        <h4 routerLink="/dashboard/directives">Directives</h4><br>
        <h4 routerLink="/dashboard/employes">Employees</h4><br>
        <h4 routerLink="/dashboard/products">Products</h4><br>
        <h4 routerLink="/dashboard/vehicles">Vehicles</h4><br>
        <h4 routerLink="/dashboard/flipkart">Flipkart</h4><br>
        <h4 routerLink="/dashboard/mail">Mails</h4><br>
        <h4 routerLink="/dashboard/weather">Weather</h4><br>
        <h4 routerLink="/dashboard/create-vehicle">Create-Vehicle</h4><br>
        <h4 routerLink="/dashboard/pinterestgallery">Pinterest-Gallery</h4><br>
        <h4 routerLink="/dashboard/studentcard">Student-Card</h4><br>
        <h4 routerLink="/dashboard/createuser">Create-User</h4><br>
        <h4 routerLink="/dashboard/accounts">Accounts</h4><br>
        <br><hr><br>

        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>




