<div class="parent">
    <div class="left"><br>
        <h1>My Website</h1><br><br><hr><br>
        <h2 routerLink="/dashboard/home">Home</h2><br><br>
        <h2 routerLink="/dashboard/welcome">Welcome</h2><br><br>
        <h2 routerLink="/dashboard/databinding">Data Binding</h2><br><br>
        <h2 routerLink="/dashboard/calculator">Calculator</h2><br><br>
        <h2 routerLink="/dashboard/rectangle">Rectangle</h2><br><br>
        <h2 routerLink="/dashboard/circle">Circle</h2><br><br>
        <h2 routerLink="/dashboard/bmi">BMI</h2><br><br>
        <h2 routerLink="/dashboard/directives">Directives</h2><br><br><br><hr><br>
        
        <button>Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>




